* {
    margin: 0;
}

.game {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
    gap: 32px;
}
@media screen and (max-width: 480px) {
    .game {
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
    
    .container {
        height: 60px;
    }

    .button {
        padding: 8px;
        font-size: 8px;
        font-weight: 300;
        color: white;
        line-height: 8px;
    }
}
.shaking {
    animation: shake .5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

body {
    background: linear-gradient(90deg, rgb(83, 83, 209), rgb(200, 255, 255));
    height: 100vh;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tetris {
    background-color: rgb(90, 90, 237);
    padding: 0.5vh;
    border-radius: 0.5vh;
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-template-rows: repeat(10, auto);
}

.tetris div {
    height: min(4vh, 7vw);
    width: min(4vh, 7vw);
    background-color: rgb(255, 0, 0, 0.205);
    border-radius: 0.3vh;
    box-shadow: inset 2px 2px 2px rgba(128, 128, 128, 0.271),
                inset -2px -2px 2px rgba(240, 0, 0, 0.271);
}

.score{
    font-family: Arial;
    font-size: 30px;
    text-align: right;
}

.tetris .O {
    background: rgb(234, 234, 94);
    box-shadow:
        inset 3px 3px 3px rgba(255, 255, 255, 0.213),
        inset -3px -3px 3px rgba(4, 59, 88, 0.532),
        12px 12px 24px rgba(0, 0, 0, 0.6);  
}

.tetris .L{
    background: rgb(103, 33, 202);
    box-shadow:
        inset 3px 3px 3px rgba(255, 255, 255, 0.213),
        inset -3px -3px 3px rgba(4, 59, 88, 0.532),
        12px 12px 24px rgba(0, 0, 0, 0.6);     
}

.tetris .J{
    background: rgb(235, 221, 70);
    box-shadow:
        inset 3px 3px 3px rgba(255, 255, 255, 0.213),
        inset -3px -3px 3px rgba(88, 63, 4, 0.532),
        12px 12px 24px rgba(0, 0, 0, 0.6);     
}

.tetris .I{
    background: rgb(0, 55, 255);
    box-shadow:
        inset 3px 3px 3px rgba(255, 255, 255, 0.213),
        inset -3px -3px 3px rgba(4, 4, 88, 0.532),
        12px 12px 24px rgba(0, 0, 0, 0.6);     
}

.tetris .Z{
    background: rgb(255, 72, 0);
    box-shadow:
        inset 3px 3px 3px rgba(255, 255, 255, 0.213),
        inset -3px -3px 3px rgba(88, 32, 4, 0.532),
        12px 12px 24px rgba(0, 0, 0, 0.6);     
}

.tetris .T{
    background: rgb(255, 0, 174);
    box-shadow:
        inset 3px 3px 3px rgba(255, 255, 255, 0.213),
        inset -3px -3px 3px rgba(85, 4, 88, 0.532),
        12px 12px 24px rgba(0, 0, 0, 0.6);     
}

.tetris .S{
    background: rgb(62, 191, 101);
    box-shadow:
        inset 3px 3px 3px rgba(255, 255, 255, 0.213),
        inset -3px -3px 3px rgba(4, 88, 43, 0.532),
        12px 12px 24px rgba(0, 0, 0, 0.6);     
}

@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");

.container {
  max-width: 200px;
  max-height: 200px;
  background: #4c1d95;
  border-radius: 12px;
  border: 3px solid white;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: space-around;
  align-items: center;
  color: white;
  padding: 20px;
  box-shadow: 0px 0px 3px black;
  gap: 5px;
}

.row {
  display: flex;
  gap: 12px;
}

.col-heading h1 {
  font-family: "Verdana";
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: white;
}

.col-display {
  width: 74px;
  height: 100%;
  background: #080001;
  border-radius: 5px;
  font-family: "Silkscreen", cursive;
  font-size: 24px;
  text-align: center;
  color: #f94f6d;
}

.buttons-box {
    display: flex;
    gap: 5px;
}

.button {
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    background-color: #8001ff;
    border-radius: 4px;
    max-width: 100px;
    padding: 8px;
    font-size: 16px;
    border-bottom: 4px solid #2b6cb0;
    font-weight: 700;
    color: white;
    line-height: 26px;
}